<div class="alert alert-danger" *ngIf="eMassage">
    {{eMassage}}
</div>
<form class="mt-4" #singin="ngForm" (ngSubmit)="submit(singin)">
  <div>
    <label for="email">Email:</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="model.email"
      #email="ngModel"
      required
      email
    />
    <div class="text-danger fs-5" *ngIf="singin.submitted && email.invalid">
      <div *ngIf="email.errors?.['required']">*Email is required</div>
      <div *ngIf="email.errors?.['email']">*Invalid Email</div>
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="model.password"
      #password="ngModel"

      required
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    />
    <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || singin.submitted )">
                <div *ngIf="password.errors?.['required']">password is required</div>
                <div *ngIf="password.errors?.['pattern']">Match the pattern</div>

            </div>
  </div>
  <button class="btn btn-danger">Singin</button>

  <div class="mt-2">
    <span>Don't have an account? </span>
    <a class="register-link" routerLink="userForm">Sing up now.</a>
  </div>
</form>
