<!-- <div class="row">
  <div class="col-8">
    <div class="alert alert-info">
      {{ singleExam | json }}
      <h2>{{ singleExam?.subject }}</h2>

      <p *ngFor="let question of singleExam.questions">{{ question.que }}</p>
    </div>
  </div>
  <div class="col-4">
    <h3>single exame</h3>
    <div
      class="alert alert-info"
      *ngFor="let item of exam"
      routerLink="/showSingleExam/{{ item._id }}"
    >
      {{ item.title }}
    </div>
  </div>
</div> -->
<div class="container">
<h1>{{ singleExam?.subject }}</h1>
<div class="card mb-3" *ngFor="let question of singleExam.questions">
  <h5 class="card-header">{{ question.que }}</h5>
  <div class="card-body" >


<div class="card-text d-flex justify-content-around ">
 <p ><input type="checkbox" name="option"class="me-3" >{{ question.Options[0] }}</p>
<p><input type="checkbox" name="option" class="me-3">{{ question.Options[1] }}</p>
<p><input type="checkbox" name="option" class="me-3">{{ question.Options[2] }}</p>
</div>

</div>
</div>
<button class="btn btn-primary">Submit</button>
</div>


