<div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6 col-lg-3">
            <h2>About Compant</h2>

            <h4>CONSTRUCTION</h4>
            <span class="text-light">Your Company is Here</span>
            <p >
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit ea
              illo voluptates voluptate distinctio dolorum, pariatur, nobis
              exercitationem voluptas recusandae quisquam molestias nisi
              accusamus dicta nihil aliquam est ducimus blanditiis.
            </p>
            <ul class="icons">
              <li><i class="fa-brands fa-facebook"></i></li>
              <li><i class="fa-brands fa-instagram"></i></li>
              <li><i class="fa-brands fa-twitter"></i></li>
              <li><i class="fa-brands fa-github"></i></li>
              <li><i class="fa-brands fa-discord"></i></li>
            </ul>
          </div>
          <div class="col-6 col-lg-3">
<h2>Explor linkes</h2>
<ul class="text-light mt-5">
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
</ul>

          </div>
          <div class="col-6 col-lg-3">
            <h2>last posts</h2>
            <div class="conection">
              <div><i class="fa-solid fa-stopwatch-20"></i>
              <span>exercitationem voluptas<br> recusandae quisquam</span></div>
              <div><i class="fa-solid fa-stopwatch-20"></i>
              <span>exercitationem voluptas <br>recusandae quisquam</span></div>
              <div><i class="fa-solid fa-stopwatch-20"></i>
              <span>exercitationem voluptas<br> recusandae quisquam</span>

            </div>
</div>


          </div>
          <div class="col-6 col-lg-3">
            <h2>CONECT US</h2>
            <div class="conection">
              <div><i class="fa-solid fa-phone"></i>
              <span>010-000-00<br>010-000-00</span></div>
              <div><i class="fa-solid fa-mobile-screen-button"></i>
              <span>010-000-00<br>010-000-00</span></div>
              <div><i class="fa-solid fa-envelope"></i>
              <span>nti@gmil.com<br>nti@gmil.com</span></div>

          </div>
        </div>
      </div>
    </div>
