<div class="container mt-5">

<div class="card mb-4 border-warning">
  <h5 class="card-header">Show All student information</h5>
  <div class="card-body">
<p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sunt laborum iste officiis necessitatibus dolore perferendis, delectus voluptates. Officiis consequatur est itaque accusantium quae tempora maxime doloribus, inventore quam! Quo!</p>
    <a  class="btn btn-warning" routerLink="/users"> Show </a>
  </div>
</div>

<div class="card border-danger mb-4">
  <h5 class="card-header">Show All Exams</h5>
  <div class="card-body">
<p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sunt laborum iste officiis necessitatibus dolore perferendis, delectus voluptates. Officiis consequatur est itaque accusantium quae tempora maxime doloribus, inventore quam! Quo!</p>
    <a  class="btn btn-danger" routerLink="/adminShowExam"> Show </a>
  </div>
</div>

<div class="card border-danger">
  <h5 class="card-header">Add Exam</h5>
  <div class="card-body">
<p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sunt laborum iste officiis necessitatibus dolore perferendis, delectus voluptates. Officiis consequatur est itaque accusantium quae tempora maxime doloribus, inventore quam! Quo!</p>
    <a  class="btn btn-danger" routerLink="/addExam"> Show </a>
  </div>
</div>

<div class="card mt-4 border-success">
  <h5 class="card-header">Show My Account</h5>
  <div class="card-body">
<p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sunt laborum iste officiis necessitatibus dolore perferendis, delectus voluptates. Officiis consequatur est itaque accusantium quae tempora maxime doloribus, inventore quam! Quo!</p>
    <a  class="btn btn-success"> Show </a>
  </div>
</div>
</div>
